---
import "../styles/main.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.svg" />
        <title>Astro</title>
    </head>

    <body class="flex min-h-screen flex-col items-center justify-center">
        <h1 class="text-3xl font-bold">Astro</h1>
    </body>
</html>
